#logo
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.banner
{
	width: 100%;
	height: 300px;
    background-color: #363b78;
	background-image: url("banner.jpg");
	background-size: 100% auto;
	overflow-x: hidden;
	display: block;
    left: 0px;
    top: 0px;
	position: absolute;
	border-bottom-style: solid;
	border-bottom-color: #363b78;
}

@media (max-width: 600px) {
  .banner {
    height: 120px;
	left: 0%;
	width: 100%;
	background-size: 140% auto;
  }
}

.container
{
	display: flex;
	height: 60px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	flex-flow: row;
	justify-content: space-between;
	list-style: none;
    padding: 0;
    margin: 0;
}

.flexitem {
  margin-top: 18px;
  padding: 0px 20px 0 20px;
  height: 100%;
  min-width: 120px;
  line-height: 100%;
  color: #363b78;
  font-size: 110%;
}

.link
{
  color: #363b78;
}

.white
{
  color: white;
}

a
{
	text-decoration: none;
  	color: #363b78;
}

.boldable
{
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.boldable:hover
{
	font-weight: bold;
}

.dropdown
{
	display: flex;
	position: relative;
    height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363b78;
  min-width: 180px;
  margin-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px 0px;
  z-index: 1;
}

.dropitem
{
  display: block;
  padding: 0px 20px 0 20px;
  line-height: 100%;
  color: white;
  font-size: 75%;
}

.dropitem
{
  min-height: 20px;
  display: inline-block;
}

@media (max-width: 600px) {
.dropdown-content {
  display: flex;
  flex-flow: column;
  height: 0px;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  padding: 0px 0px;
  line-height: unset;
  z-index: 1;
  overflow-y: hidden;
  transition: 0.5s;
}

.flexitem {
  min-width: 0px;
}

.boldable {
  margin-top: 10px;
  margin-left: unset;
  margin-right: unset;
}

.dropdown {
  display: flex;
  flex-flow: column;
  height: unset;
  transition: 0.5s;
}

.white
{
  color: #363b78;
}
}

@media (min-width: 601px) {
.dropdown:hover .dropdown-content {
  display: block;
}
}

.title
{
  color: #363b78;
  padding-top: 12px;
  font-size: 110%;
  margin: 0 0 0 0;
}

.tagline
{
  color: #363b78;
  font-size: 150%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content
{
	position: relative;
	top: 300px;
	display: flex;
}

@media (max-width: 600px) {
  .content {
    top: 120px;
  }
}

.spacer
{
	margin: auto;
}

.bulk
{
	max-width: 900px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.emphasis
{
	font-weight: bold;
	padding: 0 0 20px 0;
}

.bigbold
{
	font-weight: bold;
	font-size: 100%;
}

.small
{
	font-size: 75%;
}

.inline
{
	font-family: Courier New;
	color: grey;	
}

.red
{
	color: red;	
	font-weight: bold;
}


.centred
{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.centred_wide
{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.gapped
{
	padding: 0 0 20px 0;
}

li
{
	line-height: 120%;
}

.code
{
	font-family: Courier New;
	text-align: left;
	background-color: dimgrey;
	color: white;
	padding: 5px;
}

#sidebar
{
	position: absolute;
	top: 250px;
	width: 200px;
	margin-left: 10px;
	margin-right: auto;
}

#maintext
{
	position: absolute;
	top: 250px;
	margin-left: 200px;
	width: auto;
	margin-right: 100px;
	text-align: justify;
}

body
{
	font-family: Verdana;
	font-size: 16px;
}

.people
{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	column-gap: 30px;
}

.person
{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: auto;
	padding-bottom: 30px;
}

.persondesc
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin: auto;
	width: 60%;
}

.blurb
{
	margin: auto;
	padding-left: 20px;
	width: 100%;
}

.name
{
  color: #363b78;
  font-size: 150%;
  margin: auto;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
  display: block;
}

.face
{
	width: 30%;
	height: auto;
	margin: auto;
}

img.face
{
	width: 100%;
	border-style: solid;
	border-color: #363b78;
}

.pub
{
	width: 168px;
	height: 168px;
	margin: auto;
}

.paper
{
  color: #363b78;
  font-size: 100%;
  margin: auto;
  padding-top: 0px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
  display: block;
}

.journal
{
  color: #55597a;
  font-size: 75%;
  font-style: italic;
  margin: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
  width: 100%;
  display: block;
}

.list
{
	margin: auto;
	width: 80%;
	display: flex;
	flex-flow: column;
	row-gap: 30px;
	justify-content: space-between;
}

.contacts
{
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.publication
{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

@media (max-width: 600px) {
	.publication,.person
	{
		flex-flow: column;
	}
	.persondesc
	{
		width: 100%;
	}
	.face
	{
		width: 60%;
	}
	.paper,.journal,.blurb
	{
		padding-left: 0px;
	}
	.paper,.name
	{
		padding-top: 10px;
	}

	.list,.persondesc
	{
		padding: 0px 0px 0px 0px;
	}
}

.opennav
{
	display: none;
	position: absolute;
	top: 0;
    right: 0;
	margin-top: 18px;
	padding: 0px 20px 0 20px;
	color: #363b78;
	font-size: 110%;
	cursor: pointer;
}

.navigation
{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

@media (max-width: 600px) {
  .navigation
  {
	width: 0px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	top: 0; /* Stay at the top */
	right: 0;
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom-style: solid;
	border-bottom-color: #363b78;
	border-left-style: solid;
	border-left-color: #363b78;
	flex-flow: column;
	overflow-x: hidden; /* Disable horizontal scroll */
	z-index: 1; /* Stay on top */
  }

  .opennav
  {
    display: block;
  }
}

